@import url("../../globals.css");

.feedback-container {
  position: absolute;
  width: 1437px;
  height: 747px;
  left: 0px;
  top: 99px;

  background: rgba(54, 54, 54, 0.77);
}

.feedback-modal {
  position: absolute;
  width: 439px;
  height: 678px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}
