@import url("../../globals.css");

.students-title {
  font-size: 2rem;
  color: var(--primary-color);
}

.students-items {
  padding: 0.5rem 0;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-font-size);
  list-style: none;
}
.students-items a {
  text-decoration: none;
  color: var(--tertiary-color);
}
