:root {
  --primary-color: #bed731;
  --secondary-color: #7c8089;
  --tertiary-color: #18181A;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --text-font-size: 1rem;
  --title-font-size: 2rem;
  --subtitle-font-size: 1.5rem;
}